@font-face
{
    font-family: RobotoBold;

    src: url('RobotoBold/RobotoBold.ttf');
}

@font-face
{
    font-family: RobotoThin;

    src: url('RobotoThin.ttf');
}

@font-face
{
    font-family: RobotoLight;

    src: url('RobotoLight.ttf');
}

@font-face
{
    font-family: RobotoRegular;

    src: url('RobotoRegular.ttf');
}

@font-face
{
    font-family: RobotoItalic;

    src: url('RobotoItalic.ttf');
}

body
{
    margin: 0;
    padding: 0;
}

.RobotoBold
{
    font-family: RobotoBold;
}

.header-slider
{
    width: 100%;
    height: 950px;

    background-image: url('SLIDER/bg_img.png');
    background-size: auto 100%;
}

.layout-positioner
{
    position: relative;

    width: 1102px;
    margin: 0 auto;
}

.header
{
    font-family: RobotoBold;

    position: relative;

    padding-top: 20px;

    color: white;
}

.header .menu
{
    font-style: none;

    position: absolute;
    top: 10px;
    right: 0;
}

.menu li
{
    cursor: pointer;
}

.menu li a
{
    display: inline-block;

    margin-right: 10px;
    padding: 10px;
}

.menu a:last-child
{
    margin-right: 0;
}

.header .menu .hover > a
{
    padding-bottom: 15px;
}

.header .menu .hover:last-child > a
{
    padding-right: 10px;
    padding-bottom: 10px;
}

.header .menu .hover:last-child:hover > a img
{
    -webkit-filter: brightness(0%);
            filter: brightness(0%);
}

.header .menu .hover:hover
{
    color: black;
    border-radius: 10px;
    background-color: yellow;
}

.header .menu > img
{
    display: inline-block;
}

.header .menu > li
{
    position: relative;

    display: inline-block;
}

.header .sub-menu
{
    position: absolute;

    display: none;

    width: 210px;
    margin: 0;
    padding: 0;

    list-style: none;

    color: black;
    border-radius: 10px;
    background: yellow;
}

.header .menu li:hover .sub-menu
{
    display: block;

    margin-top: -15px;
}

.header .sub-menu a
{
    display: block;
}

.header .sub-menu a:hover
{
    border-left: 3px solid black;
}

/*Ниже слайдер*/

.slider
{
    width: 100%;
    height: 870px;

    text-align: center;
}

.slider-positioner
{
    display: inline-block;

    margin: 0 auto;
    margin-top: 300px;

    text-align: center;
}

.yellow
{
    color: yellow;
}

.RobotoThin
{
    font-family: RobotoThin;
}

.slider .slider-positioner > span:first-child
{
    font-size: 50pt;

    color: white;
}

.slider .slider-positioner > span:nth-child(3)
{
    font-size: 28pt;

    color: white;
}

.slider .slider-positioner #button_1
{
    font-family: RobotoBold;
    font-size: 10pt;

    display: inline-block;

    margin-top: 20px;
    padding: 10px 15px;

    cursor: pointer;

    color: yellow;
    border-radius: 10px;
    background-color: black;
}

.slider .slider-positioner #button_1:hover
{
    color: black;
    background-color: yellow;
}

/*Ниже категории*/

.categories
{
    width: 100%;
    min-height: 630px;

    background-image: url('CATEGORIES/bg_img.png');
    background-size: auto;
}

.categories .layout-positioner > span
{
    text-align: center;
}

.categories .layout-positioner > span:first-child
{
    font-family: RobotoBold;
    font-size: 28pt;

    display: block;

    padding-top: 65px;
    padding-bottom: 60px;
}

.categories .layout-positioner .categories-img
{
    display: inline-block;

    width: 340px;
    height: 280px;
    margin-right: 18px;
    margin-left: 0;

    text-align: center;
}

.categories .layout-positioner .categories-img:nth-child(3)
{
    background-image: url('CATEGORIES/left_img.png');
}

.categories .layout-positioner .categories-img:nth-child(4)
{
    background-image: url('CATEGORIES/middle_img.png');
}

.categories .layout-positioner .categories-img:nth-child(5)
{
    margin-right: 0;

    background-image: url('CATEGORIES/right_img.png');
}

.categories .layout-positioner .categories-text-yellow
{
    font-family: RobotoBold;
    font-size: 15pt;

    display: inline-block;

    padding-top: 140px;

    color: yellow;
}

.categories .layout-positioner .categories-text-white
{
    font-family: RobotoLight;
    font-size: 14pt;

    display: inline-block;

    color: white;
}

.categories .layout-positioner #button_2
{
    font-family: RobotoBold;

    position: absolute;
    z-index: 10;
    top: 390px;
    left: 470px;

    display: inline-block;

    padding: 10px 15px;

    cursor: pointer;

    color: white;
    border: 3px solid white;
    border-radius: 10px;
}

.categories .layout-positioner #button_2:hover
{
    color: gray;
    background-color: white;
}

/*Ниже галерея*/

.gallery
{
    width: 100%;
    min-height: 630px;

    text-align: center;

    background-color: white;
}

.gallery .layout-positioner
{
    font-size: 19pt;

    text-align: center;
}

.gallery .layout-positioner > span
{
    font-family: RobotoBold;

    display: inline-block;

    padding-top: 60px;
    padding-bottom: 40px;
}

.gallery .gallery-element
{
    position: relative;

    display: inline-block;

    height: 470px;
    margin-right: 6.29%;
}

.gallery .gallery-element:last-child
{
    margin-right: 0;
}

.gallery .gallery-element .gallery-text-black
{
    font-family: RobotoBold;

    position: absolute;
    top: 410px;
    left: 0;

    color: black;
}

.gallery .gallery-element .gallery-text-black:hover
{
    color: #b7b7b7;
}

.gallery .gallery-element .gallery-text-little
{
    font-family: RobotoLight;
    font-size: 15pt;

    position: absolute;
    top: 440px;
    left: 0;
}

.gallery .gallery-element .button_3
{
    font-family: RobotoBold;
    font-size: 12pt;

    position: absolute;
    top: 425px;
    left: 400px;

    display: inline-block;

    padding: 15px 35px;

    cursor: pointer;

    color: white;
    border-radius: 10px;
    background-color: #b7b7b7;
}

.gallery .gallery-element .button_3:hover
{
    color: yellow;
    background-color: black;
}

.gallery .gallery-element .option
{
    font-family: RobotoBold;
    font-size: 12pt;

    position: relative;
    top: 29px;
    left: 220px;

    width: 140px;
    padding: 13px;

    border: 2px solid #b7b7b7;
    border-radius: 10px;
    background: url('GALLERY/option.png') no-repeat 130px 17px;
}

.gallery .gallery-element .option > span
{
    margin-left: -70px;
}

.gallery .gallery-element .option:hover .option-sub-menu
{
    font-style: none;

    display: block;
}

.gallery .gallery-element .option .option-sub-menu
{
    position: absolute;
    z-index: 999;
    top: -2px;
    left: -2px;

    display: none;

    width: 167px;
    margin: 0;
    padding: 0;

    list-style-type: none;

    border: 2px solid #b7b7b7;
    border-radius: 10px;
    background-color: #b7b7b7;
}

.option-sub-menu > li
{
    padding: 13px;
    padding-right: 152px;

    color: white;
}

.option-sub-menu > li:hover
{
    padding-left: 20px;
}


/*Ниже контакты*/

.contact-us
{
    width: 100%;
    height: 630px;

    text-align: center;

    background-color: lightgray;
    background-image: url('CONTACT_US/bg_img.png');
    background-size: auto;
}

.contact-us .contact-us-positioner
{
    display: inline-block;

    padding-top: 80px;

    text-align: center;
}

.contact-us .contact-us-positioner > span:nth-child(1)
{
    font-family: RobotoBold;
    font-size: 24pt;
}

.contact-us .contact-us-positioner > span:nth-child(3)
{
    font-family: RobotoRegular;
    font-size: 13pt;

    display: inline-block;

    padding-top: 40px;
    padding-bottom: 40px;
}

.contact-us form > input:last-child
{
    font-family: RobotoBold;

    width: 95%;
    padding: 10px;

    color: white;
    border: none;
    border-radius: 12px;
    background-color: #b7b7b7;
}

.contact-us form > input:last-child:hover
{
    color: yellow;
    background-color: black;
}

.contact-us form .contact-us-name
{
    width: 39%;
    margin-left: 5%;
}

.contact-us form .contact-us-field
{
    position: relative;

    display: inline-block;

    margin-bottom: 15px;
    padding: 10px;

    border: 2px solid #e2e2e2;
    border-radius: 11px;
}

.contact-us form .contact-us-name:nth-child(1)
{
    margin-left: 0;
}

.contact-us form
{
    text-align: center;
}
.contact-us .contact-us-positioner form .contact-us-field[placeholder]
{
    font-family: RobotoItalic;

    text-align: left;
    vertical-align: top;

    color: #808080;
}

.contact-us .contact-us-positioner form .contact-us-field:nth-child(4)
{
    width: 89%;
}

.contact-us .contact-us-positioner form .contact-us-field:nth-child(6)
{
    width: 89%;
    padding-top: 10px;
    padding-bottom: 150px;
}

/*Ниже футер*/

.footer
{
    width: 100%;
    height: 70px;

    background-color: yellow;
}

.footer .layout-positioner
{
    padding-top: 13px;
}

.footer .layout-positioner > img
{
    margin: 17px 0;
}

.footer .menu
{
    font-family: RobotoBold;

    position: absolute;
    right: -13px;
    bottom: -16px;

    list-style-type: none;
}

.footer .menu > li
{
    position: relative;

    display: inline-block;
}

.footer .menu > li:hover
{
    padding-top: 3px;

    color: yellow;
    border-radius: 10px;
    background-color: black;
}

.footer .menu > li .sub-menu
{
    font-family: RobotoBold;

    position: absolute;
    top: -120px;
    left: 0;

    display: none;

    width: 190px;
    min-width: 90px;

    list-style-type: none;
}

.footer .menu > li:hover .sub-menu
{
    display: inline-block;

    color: yellow;
    border-radius: 10px;
    background-color: black;
}

.footer .menu > li:last-child .sub-menu
{
    width: auto;
}

.footer .menu .sub-menu li
{
    margin-left: -10px;
}

.footer .menu .hover .sub-menu li
{
    margin-left: -20px;
}

.footer .menu .hover
{
    padding-left: 20px;
}

.footer .menu .sub-menu li:last-child
{
    padding-bottom: 13px;
}

.footer .menu .sub-menu > li:hover
{
    border-left: 10px solid black;
}

@media (max-width: 1841px)
{
    .gallery
    {
        height: 1200px;
    }

    .gallery .gallery-element
    {
        margin-bottom: 50px;
    }
}